services:
  - type: web
    name: College_Spark   # College Spark サービス名
    env: ruby
    plan: free
    region: oregon
    branch: main
    buildCommand: |
      bundle install
      yarn install
      bundle exec rake assets:precompile
    startCommand: |
      bundle exec puma -C config/puma.rb
    releaseCommand: |
      bundle exec rails db:migrate
      if [ -f "db/college_data_compressed.json.gz" ]; then
        cp db/college_data_compressed.json.gz tmp/
        bundle exec rails import:from_compressed
      else
        bundle exec rails render:setup_data
      fi