services:
  - type: web
    name: College_Spark   # College Spark サービス名
    env: ruby
    plan: free
    region: oregon
    branch: main
    buildCommand: ./bin/render-build.sh
    startCommand: |
      bundle exec rails setup:production
      bundle exec puma -C config/puma.rb