
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



    
<div class ="main">
    <div class="copy-container">
    <h1>Let's find your best college!</h1>
    <h2>~アメリカの大学を見てみよう！~</h2>
    
    
    <!-- 大学名検索機能 -->
    <div class="college-name-search">
        <div class="search-header">
            <h3><i class="fa fa-search me-2"></i>大学名で直接検索</h3>
        </div>
        <div class="search-input-container">
            <input type="text" id="college-name-input" placeholder="例：Harvard University, Stanford University..." class="college-search-input">
            <button id="name-search-button" class="name-search-btn">
                <i class="fa fa-search"></i> 検索
            </button>
        </div>
        <div class="search-separator">
            <span>または</span>
        </div>
    </div>
    </div>

    <div class="contents">
        <div class="conditions1">
            <div class="box">
                <div class="line-header1">
                <h1><i class="fa fa-globe-americas me-2"></i>州</h1>
                </div>      
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    選択してください
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">指定しない</a></li>
                        <li><a class="dropdown-item" href="#">アラバマ州(AL)</a></li>
                        <li><a class="dropdown-item" href="#">アラスカ州(AK)</a></li>
                        <li><a class="dropdown-item" href="#">アリゾナ州(AZ)</a></li>
                        <li><a class="dropdown-item" href="#">アーカンソー州(AR)</a></li>
                        <li><a class="dropdown-item" href="#">カリフォルニア州(CA)</a></li>
                        <li><a class="dropdown-item" href="#">コロラド州(CO)</a></li>
                        <li><a class="dropdown-item" href="#">コネチカット州(CT)</a></li>
                        <li><a class="dropdown-item" href="#">デラウェア州(DE)</a></li>
                        <li><a class="dropdown-item" href="#">コロンビア特別区(DC)</a></li>
                        <li><a class="dropdown-item" href="#">フロリダ州(FL)</a></li>
                        <li><a class="dropdown-item" href="#">ジョージア州(GA)</a></li>
                        <li><a class="dropdown-item" href="#">ハワイ州(HI)</a></li>
                        <li><a class="dropdown-item" href="#">アイダホ州(ID)</a></li>
                        <li><a class="dropdown-item" href="#">イリノイ州(IL)</a></li>
                        <li><a class="dropdown-item" href="#">インディアナ州(IN)</a></li>
                        <li><a class="dropdown-item" href="#">アイオワ州(IA)</a></li>
                        <li><a class="dropdown-item" href="#">カンザス州(KS)</a></li>
                        <li><a class="dropdown-item" href="#">ケンタッキー州(KY)</a></li>
                        <li><a class="dropdown-item" href="#">ルイジアナ州(LA)</a></li>
                        <li><a class="dropdown-item" href="#">メイン州(ME)</a></li>
                        <li><a class="dropdown-item" href="#">メリーランド州(MD)</a></li>
                        <li><a class="dropdown-item" href="#">マサチューセッツ州(MA)</a></li>
                        <li><a class="dropdown-item" href="#">ミシガン州(MI)</a></li>
                        <li><a class="dropdown-item" href="#">ミネソタ州(MN)</a></li>
                        <li><a class="dropdown-item" href="#">ミシシッピ州(MS)</a></li>
                        <li><a class="dropdown-item" href="#">ミズーリ州(MO)</a></li>
                        <li><a class="dropdown-item" href="#">モンタナ州(MT)</a></li>
                        <li><a class="dropdown-item" href="#">ネブラスカ州(NE)</a></li>
                        <li><a class="dropdown-item" href="#">ネバダ州(NV)</a></li>
                        <li><a class="dropdown-item" href="#">ニューハンプシャー州(NH)</a></li>
                        <li><a class="dropdown-item" href="#">ニュージャージー州(NJ)</a></li>
                        <li><a class="dropdown-item" href="#">ニューメキシコ州(NM)</a></li>
                        <li><a class="dropdown-item" href="#">ニューヨーク州(NY)</a></li>
                        <li><a class="dropdown-item" href="#">ノースカロライナ州(NC)</a></li>
                        <li><a class="dropdown-item" href="#">ノースダコタ州(ND)</a></li>
                        <li><a class="dropdown-item" href="#">オハイオ州(OH)</a></li>
                        <li><a class="dropdown-item" href="#">オクラホマ州(OK)</a></li>
                        <li><a class="dropdown-item" href="#">オレゴン州(OR)</a></li>
                        <li><a class="dropdown-item" href="#">ペンシルベニア州(PA)</a></li>
                        <li><a class="dropdown-item" href="#">ロードアイランド州(RI)</a></li>
                        <li><a class="dropdown-item" href="#">サウスカロライナ州(SC)</a></li>
                        <li><a class="dropdown-item" href="#">サウスダコタ州(SD)</a></li>
                        <li><a class="dropdown-item" href="#">テネシー州(TN)</a></li>
                        <li><a class="dropdown-item" href="#">テキサス州(TX)</a></li>
                        <li><a class="dropdown-item" href="#">ユタ州(UT)</a></li>
                        <li><a class="dropdown-item" href="#">バーモント州(VT)</a></li>
                        <li><a class="dropdown-item" href="#">バージニア州(VA)</a></li>
                        <li><a class="dropdown-item" href="#">ワシントン州(WA)</a></li>
                        <li><a class="dropdown-item" href="#">ウェストバージニア州(WV)</a></li>
                        <li><a class="dropdown-item" href="#">ウィスコンシン州(WI)</a></li>
                        <li><a class="dropdown-item" href="#">ワイオミング州(WY)</a></li>
                    </ul>    
                </div>                   
            </div>
        </div>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            // ドロップダウンアイテムがクリックされたときの処理
            document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function(e) {
                e.preventDefault();  // リンクのデフォルトの動作を無効にする
                const selectedText = this.textContent;  // クリックされたアイテムのテキストを取得
                document.getElementById('dropdownMenuButton').innerText = selectedText;  // ボタンにテキストを設定
            });
            });
            // スクロール時にドロップダウンを閉じる
            let dropdownButton = document.getElementById('dropdownMenuButton');
            let dropdownMenu = document.querySelector('.dropdown-menu');

            window.addEventListener('scroll', function () {
                if (dropdownMenu.classList.contains('show')) {
                    // ドロップダウンが開いている場合は閉じる
                    dropdownButton.click(); // Bootstrapのトグルボタンをトリガー
                }
            });
        });
        </script>

        <div class="conditions2">
            <div class="box">
                    <div class="tooltip-container1">
                        <span class="tooltip-trigger">？</span>
                        <div class="tooltip-content">
                        州立大学は、州民以外の学生に対して通常の2~3倍の学費を設定していることに注意が必要です。また、私立大学の方が多くの奨学金を受け取れる傾向にあります。
                        </div>
                    </div> 
                    <div class="line-header2">
                    <h1><i class="fa fa-university me-2"></i>私立/州立</h1>
                    </div>
                <form>
                    <div class="form-group1">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="option1" checked>
                        <label class="form-check-label" for="radio1">
                        指定しない
                        </label>
                        </div>
                        
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2">
                        <label class="form-check-label" for="radio2">
                        私立
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2">
                        <label class="form-check-label" for="radio2">
                        州立
                        </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="conditions3">
            <div class="box">
                    <div class="tooltip-container2">
                        <span class="tooltip-trigger">？</span>
                        <div class="tooltip-content">
                        現在、授業料データを準備中です。近日中に利用可能になります。
                        </div>
                    </div> 
                    <div class="line-header3">
                    <h1><i class="fa fa-dollar-sign me-2"></i>年間授業料（準備中）</h1>
                    </div>
                <form>
                    <div class="form-group2">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="option1" checked disabled>
                        <label class="form-check-label disabled-label" for="radio1">
                            指定しない（データ準備中）
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2" disabled>
                        <label class="form-check-label disabled-label" for="radio2">
                            ~$9999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio3" value="option3" disabled>
                        <label class="form-check-label disabled-label" for="radio3">
                            $10,000~$19,999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio4" value="option4" disabled>
                        <label class="form-check-label disabled-label" for="radio4">
                            $20,000~$29,999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio5" value="option5" disabled>
                        <label class="form-check-label disabled-label" for="radio5">
                            $30,000~$39,999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio6" value="option6" disabled>
                        <label class="form-check-label disabled-label" for="radio6">
                            $40,000~$49,999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio7" value="option7" disabled>
                        <label class="form-check-label disabled-label" for="radio7">
                            $50,000~$59,999
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="radio8" value="option8" disabled>
                        <label class="form-check-label disabled-label" for="radio8">
                            $60,000~
                        </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="conditions4">
            <div class="box">
                <div class="line-header4">
                <h1><i class="fa fa-users me-2"></i>学生数</h1>    
                </div>
                <form>
                    <div class="form-group3">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="groupCheck33.1">
                        <label class="form-check-label" for="groupCheck33.1">
                            小規模(~2999人)
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="groupCheck35">
                        <label class="form-check-label" for="groupCheck35">
                            中規模(3000人~9999人)
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="groupCheck35">
                        <label class="form-check-label" for="groupCheck35">
                            大規模(10,000人~29,999人)
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="groupCheck35">
                        <label class="form-check-label" for="groupCheck35">
                            超大規模(30,000人~)
                        </label>
                        </div>
                    </div>    
                </form>
            </div>
        </div>

        <div class="conditions5">
            <div class="box">
                    <div class="tooltip-container3">
                        <span class="tooltip-trigger">？</span>
                        <div class="tooltip-content">
                        現在、GPAデータを準備中です。近日中に利用可能になります。
                        </div>
                    </div>   
                    <div class="line-header5">
                    <h1><i class="fa fa-file-alt me-2"></i>入学者平均GPA（準備中）</h1>
                    </div>
                <form>
                    <div class="form-group4">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio1" value="option1" checked disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio1">
                            指定しない（データ準備中）
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio2" value="option2" disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio2">
                            0~2.49
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio3" value="option3" disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio3">
                            2.50~2.99
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio4" value="option4" disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio4">
                            3.00~3.49
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio5" value="option5" disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio5">
                            3.50~3.74
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="gpaRadios" id="gpaRadio6" value="option6" disabled>
                        <label class="form-check-label disabled-label" for="gpaRadio6">
                            3.75~
                        </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="conditions6">
            <div class="box">
                    <div class="tooltip-container4">
                        <span class="tooltip-trigger">？</span>
                        <div class="tooltip-content">
                        現在、NCAAデータを準備中です。近日中に利用可能になります。
                        </div>
                    </div> 
                    <div class="line-header6">
                    <h1><i class="fa fa-baseball-ball me-2"></i>NCAA Division（準備中）</h1>  
                    </div>
                <form>
                    <div class="form-group5">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ncaaCheck1" disabled>
                        <label class="form-check-label disabled-label" for="ncaaCheck1">
                            Division Ⅰ（データ準備中）
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ncaaCheck2" disabled>
                        <label class="form-check-label disabled-label" for="ncaaCheck2">
                            Division Ⅱ（データ準備中）
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ncaaCheck3" disabled>
                        <label class="form-check-label disabled-label" for="ncaaCheck3">
                            Division Ⅲ（データ準備中）
                        </label>
                        </div>
                    </div>    
                </form>
            </div>
        </div>


        <div class="conditions7">
            <div class="box">
                    <div class="tooltip-container5">
                        <span class="tooltip-trigger">？</span>
                        <div class="tooltip-content">
                        難関大学ほど卒業率が高くなる傾向にあります。
                        </div>
                    </div> 
                    <div class="line-header7">
                        <h1><i class="fa fa-graduation-cap me-2"></i>卒業率</h1>
                    </div>
                <form>
                    <div class="form-group6">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio1" value="option1" checked>
                        <label class="form-check-label" for="gradRadio1">
                        指定しない
                        </label>
                        </div>
                            
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio2" value="option2">
                        <label class="form-check-label" for="gradRadio2">
                        50%~
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio3" value="option3">
                        <label class="form-check-label" for="gradRadio3">
                        60%~
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio4" value="option4">
                        <label class="form-check-label" for="gradRadio4">
                        70%~
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio5" value="option5">
                        <label class="form-check-label" for="gradRadio5">
                        80%~
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="graduationRadios" id="gradRadio6" value="option6">
                        <label class="form-check-label" for="gradRadio6">
                        90%~
                        </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="conditions8">
            <div class="box">
                <div class="line-header8">
                <h1><i class="fa fa-map-marker-alt me-2"></i>大学の立地</h1>    
                </div>
                <form>
                    <div class="form-group7">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="urbanCheck1">
                        <label class="form-check-label" for="urbanCheck1">
                            都市部
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="urbanCheck2">
                        <label class="form-check-label" for="urbanCheck2">
                            郊外
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="urbanCheck3">
                        <label class="form-check-label" for="urbanCheck3">
                            町
                        </label>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="urbanCheck4">
                        <label class="form-check-label" for="urbanCheck4">
                            田舎
                        </label>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>



    <div class="contents1">
        <div class="conditions9">
            <div class="box1">
                <div class="tooltip-container6">
                    <span class="tooltip-trigger1">？</span>
                    <div class="tooltip-content">
                        アメリカの大学では、2つ以上の分野を専攻することができます。また、副専攻として学ぶこともできます。文理の壁がほとんどないため、全く異なる分野を同時に学ぶことができます。
                    </div>
                </div>
                <div class="line-header7-major">
                <h1><i class="fa fa-flask me-2"></i><strong>専攻※現在開発中の機能です</strong></h1>
                </div>
                <div class="options">
                    <label><input type="checkbox" disabled> 生物学</label>
                    <label><input type="checkbox" disabled> 教育学</label>
                    <label><input type="checkbox" disabled> 政治学</label>
                    <label><input type="checkbox" disabled> 数学</label>
                    <label><input type="checkbox" disabled> 物理学</label>
                    <label><input type="checkbox" disabled> 経済学</label>
                    <label><input type="checkbox" disabled> 音楽</label>
                    <label><input type="checkbox" disabled> 農学</label>
                    <label><input type="checkbox" disabled> 経営学</label>
                    <label><input type="checkbox" disabled> 心理学</label>
                    <label><input type="checkbox" disabled> 社会学</label>
                    <label><input type="checkbox" disabled> 環境学</label>
                    <label><input type="checkbox" disabled> 建築学</label>
                    <label><input type="checkbox" disabled> 化学</label>
                    <label><input type="checkbox" disabled> 倫理学</label>
                    <label><input type="checkbox" disabled> 歴史学</label>
                    <label><input type="checkbox" disabled> グラフィックデザイン</label>
                    <label><input type="checkbox" disabled> 工学(エンジニアリング)</label>
                    <label><input type="checkbox" disabled> 政治学</label>
                    <label><input type="checkbox" disabled> 刑事司法</label>
                    <label><input type="checkbox" disabled> コミュニケーション学</label>
                    <label><input type="checkbox" disabled> 演劇</label>
                    <label><input type="checkbox" disabled> 地理学</label>
                    <label><input type="checkbox" disabled> 統計学</label>
                    <label><input type="checkbox" disabled> 公衆衛生学</label>
                    <label><input type="checkbox" disabled> 哲学</label>
                    <label><input type="checkbox" disabled> 国際関係学</label>
                    <label><input type="checkbox" disabled> 法医学</label>
                    <label><input type="checkbox" disabled> 宗教学</label>
                    <label><input type="checkbox" disabled> スペイン語</label>
                    <label><input type="checkbox" disabled> 看護学</label>
                    <label><input type="checkbox" disabled> 言語学</label>
                    <label><input type="checkbox" disabled> TESOL</label>
                </div>
            </div>
        </div>
    </div>

    <div class="search-button-container">
        <button class="cool-search-button" id="search-button"><i class="fa fa-search"></i> 検索</button>
    </div>


    <script>
        // 大学名入力フィールドと条件検索フィールドの干渉を防ぐ
        const collegeNameInput = document.getElementById('college-name-input');
        const conditionInputs = document.querySelectorAll('.conditions1 select, .conditions2 input, .conditions3 input, .conditions4 input, .conditions5 input, .conditions6 input, .conditions7 input, .conditions8 input, .conditions9 input');
        const nameSearchButton = document.getElementById('name-search-button');
        const conditionSearchButton = document.getElementById('search-button');

        // 大学名入力時に条件検索をリセット・無効化
        collegeNameInput.addEventListener('input', function() {
            if (this.value.trim() !== '') {
                // 条件検索フィールドを無効化
                conditionInputs.forEach(input => {
                    input.disabled = true;
                    input.style.opacity = '0.5';
                });
                conditionSearchButton.disabled = true;
                conditionSearchButton.style.opacity = '0.5';
                
                // ドロップダウンボタンも無効化
                const dropdownButton = document.getElementById('dropdownMenuButton');
                dropdownButton.disabled = true;
                dropdownButton.style.opacity = '0.5';
            } else {
                // 大学名が空の場合、条件検索を有効化
                conditionInputs.forEach(input => {
                    input.disabled = false;
                    input.style.opacity = '1';
                });
                conditionSearchButton.disabled = false;
                conditionSearchButton.style.opacity = '1';
                
                const dropdownButton = document.getElementById('dropdownMenuButton');
                dropdownButton.disabled = false;
                dropdownButton.style.opacity = '1';
            }
        });

        // 条件検索フィールドに入力時に大学名検索を無効化
        conditionInputs.forEach(input => {
            input.addEventListener('change', function() {
                const hasConditionInput = Array.from(conditionInputs).some(inp => {
                    if (inp.type === 'radio' || inp.type === 'checkbox') {
                        return inp.checked && inp.value !== 'option1'; // デフォルト値以外が選択されている
                    }
                    return inp.value && inp.value.trim() !== '';
                });

                if (hasConditionInput) {
                    collegeNameInput.disabled = true;
                    collegeNameInput.style.opacity = '0.5';
                    nameSearchButton.disabled = true;
                    nameSearchButton.style.opacity = '0.5';
                } else {
                    collegeNameInput.disabled = false;
                    collegeNameInput.style.opacity = '1';
                    nameSearchButton.disabled = false;
                    nameSearchButton.style.opacity = '1';
                }
            });
        });

        // ドロップダウン選択時の処理
        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function() {
                const selectedText = this.textContent.trim();
                if (selectedText !== '指定しない' && selectedText !== '選択してください') {
                    collegeNameInput.disabled = true;
                    collegeNameInput.style.opacity = '0.5';
                    nameSearchButton.disabled = true;
                    nameSearchButton.style.opacity = '0.5';
                } else {
                    // 他の条件もチェック
                    const hasOtherConditions = Array.from(conditionInputs).some(inp => {
                        if (inp.type === 'radio' || inp.type === 'checkbox') {
                            return inp.checked && inp.value !== 'option1';
                        }
                        return inp.value && inp.value.trim() !== '';
                    });

                    if (!hasOtherConditions) {
                        collegeNameInput.disabled = false;
                        collegeNameInput.style.opacity = '1';
                        nameSearchButton.disabled = false;
                        nameSearchButton.style.opacity = '1';
                    }
                }
            });
        });

        // 大学名検索機能
        document.getElementById('name-search-button').addEventListener('click', function () {
            const collegeName = document.getElementById('college-name-input').value.trim();
            if (collegeName) {
                // 大学名検索用のクエリパラメータを作成
                const queryString = new URLSearchParams({
                    college_name: collegeName
                }).toString();
                
                // 検索結果ページにリダイレクト
                window.location.href = `/results?${queryString}`;
            } else {
                alert('大学名を入力してください');
            }
        });

        // Enterキーでも検索できるようにする
        document.getElementById('college-name-input').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                document.getElementById('name-search-button').click();
            }
        });

        document.getElementById('search-button').addEventListener('click', function () {

            const formData = {
                state: document.getElementById('dropdownMenuButton').innerText.trim(),
                privateorpublic: document.querySelector('input[name="exampleRadios"]:checked')?.nextElementSibling?.innerText.trim(),
                // 無効化されたフィールドは除外
                tuition: '指定しない', // 現在データなしのため
                students: Array.from(document.querySelectorAll('.form-group3 input:checked')).map(cb => cb.nextElementSibling?.innerText.trim()),
                gpa: '指定しない', // 現在データなしのため
                Division: [], // 現在データなしのため
                graduation_rate: document.querySelector('.form-group6 input:checked')?.nextElementSibling?.innerText.trim(),
                urbanicity: Array.from(document.querySelectorAll('.form-group7 input:checked')).map(cb => cb.nextElementSibling?.innerText.trim()),
                
                // majorの取得方法を修正
                major: Array.from(document.querySelectorAll('.options input[type="checkbox"]:checked'))
                    .map(cb => cb.parentElement.textContent.trim()) // 親要素のテキストを取得
                    .filter(text => text !== "") // 空のテキストを除外
            };

            // majorが選択されていない場合の処理
            if (formData.major.length === 0) {
                formData.major = "未選択"; // もし選択されていなければ、"未選択" を送信
            }

            // クエリ文字列を作成
            const queryString = new URLSearchParams(formData).toString();

            // クエリ文字列を使ってリダイレクト
            window.location.href = `/results?${queryString}`;
        });
    </script>

</div> 

<div class ="footer">
    <div class ="footer-logo">College Finder</div>
    <div class ="footer-list">
        <ul>
            <li>
                <a href="info" style="text-decoration:none;">運営情報</a>
            </li>

            <li>
                <a href="recruit" style="text-decoration:none;">採用情報</a>
            </li>

            <li>
                <a href="contact" style="text-decoration:none;">お問い合わせ</a>
            </li>

            <li>
                <a href="terms" style="text-decoration:none;">利用規約</a>
            </li>
        </ul>    
    </div>
</div>

